.input-fields{
    background-color: yellow;
}

.heading{
    display: flex;
width: 13.5rem;
height: 1.8125rem;
flex-direction: column;
flex-shrink: 0;
color: #2E2F30;
font-size: 1.375rem;
font-family: Inter;
text-transform: capitalize;
padding: 1.7rem;
padding-top: 4rem;
}